.bgImage {
  background-image: url(./assets/images/idea.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  
}

.overlay{
    background-color: rgba(0, 0, 0, 0.6);
    height: 100vh;
}
